$cover_width: 200px;
$cover_height: 250px;

@font-face {
  font-family: Danley;
  src: url(Danley.ttf) format("truetype");
}

@font-face {
  font-family: LuxiSans;
  src: url(LuxiSans.ttf) format("truetype");
}

@mixin box_shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
}

@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
}
  

#container {
  text-align: center;
  height: auto;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 10pt;
}

ul.mediaList {
  list-style: none;

  li.mediaEntry {
    display: inline-block;
    width: 240px;
    height: auto;
    padding: 0px 5px 10px 5px;
    text-align: center;
    position: relative;
    margin-top: 5px;
    @include rounded;
    font-size: 1.5em;

    &:hover {
      @include box_shadow(0, 0, 10px, gray);
    }

    h5 {
      height: auto;
      padding: 0px;
      font-family: "LuxiSans";
    }

    img.mediaCover {
      width: 200px;
      height: 250px;
    }
  }

}
