@font-face {
  font-family: Danley;
  src: url(Danley.ttf) format("truetype"); }

@font-face {
  font-family: LuxiSans;
  src: url(LuxiSans.ttf) format("truetype"); }

body {
  margin: 0px;
  padding: 0px;
  background-color: #0f0616;
  color: #c0c1cf; }

#container {
  text-align: center;
  height: auto;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 10pt; }

ul.mediaList {
  list-style: none; }
  ul.mediaList li.mediaEntry {
    display: inline-block;
    width: 240px;
    height: auto;
    padding: 0px 5px 10px 5px;
    text-align: center;
    position: relative;
    margin-top: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 1.5em; }
    ul.mediaList li.mediaEntry:hover {
      box-shadow: 0 0 15px gray;
      -webkit-box-shadow: 0 0 15px gray;
      -moz-box-shadow: 0 0 15px gray; }
    ul.mediaList li.mediaEntry h5 {
      height: auto;
      padding: 0px;
      font-family: "LuxiSans"; }
    ul.mediaList li.mediaEntry img.mediaCover {
      width: 200px;
      height: 250px; }
